<div class="row" *ngIf="graficos">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3>{{graficos.grafico1.leyenda}}</h3>
                <app-grafico-dona [chartType]="graficos.grafico1.type" [chartLabels]="graficos.grafico1.labels" [chartData]="graficos.grafico1.data"></app-grafico-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3>{{graficos.grafico2.leyenda}}</h3>
                <app-grafico-dona [chartType]="graficos.grafico2.type" [chartLabels]="graficos.grafico2.labels" [chartData]="graficos.grafico2.data"></app-grafico-dona>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="graficos">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3>{{graficos.grafico3.leyenda}}</h3>
                <app-grafico-dona [chartType]="graficos.grafico3.type" [chartLabels]="graficos.grafico3.labels" [chartData]="graficos.grafico3.data"></app-grafico-dona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3>{{graficos.grafico4.leyenda}}</h3>
                <app-grafico-dona [chartType]="graficos.grafico4.type" [chartLabels]="graficos.grafico4.labels" [chartData]="graficos.grafico4.data"></app-grafico-dona>
            </div>
        </div>
    </div>
</div>